body{
  background-color: blue;
  font-family: "Arial", arial, sans-serif;
}

.myContainer{
  margin: 140px 200px 150px 350px;
  border: black 5px solid;
  width: 63.4%;
}

#paragraphChange{
  color: magenta;
  margin: 20px 20px 20px 20px;
  border: green 2px dashed;
  padding: 8px 5px 6px 5px;
}

img{
  border: pink 2px dashed;
  padding: 20px 20px 20px 20px;
}
