body {
  height: 100vh;
  margin: 0;
  font-family: "Segoe UI", "Tahoma", arial, sans-serif;
  background-color: #F0EDED;
}

span {
  font-size: 27px;
  font-weight: bold;
  color: #A95C68;
}

p {
  text-align: center;
  color: #969696;
}

label {
  display: block;
  margin-left: 50px;
  margin-bottom: 8px;
}

input, textarea {
  width: 60%;
  padding: 8px;
  margin-left: 50px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

a {
  color: #B49286;
}

a:hover {
  transition: 0.3s;
  color: #F3D9DC;
}

.headerLogo {
  max-width: 50%;
}

.headerLogo img {
  margin-left: 50px;
  height: 60px;
  width: 60px;
}

.containerButtons {
  display: flex;
  margin-left: 200px;
  max-width: 50%;
  text-align: right;
  justify-content: flex-end;
}

.navButton {
  background: none;
  border: solid 3px #744253; /*so it doesn't shift when i hover*/
  padding: 10px;
  font-size: 16px;
  width: 100px;
  box-sizing: border-box;
}

.navButton:hover {
  color: white;
}

.banner {
  opacity: 0.7;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.socials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.textBigger {
  font-size: 20px;
}

.fillInForm {
  max-width: 600px;
  padding-left, padding-right: 20px;
  margin-bottom: 20px;
}

.submitButton {
  margin-left: 50px;
  background-color: #D6B0A7;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 40px;
  border: none;
  border-radius: 5px;
}

.submitButton:hover {
  background-color: #B49286;
}

.footer {
  background-color: #333;
  color: white;
  padding-bottom: 2px;
  text-align: center;
  width: 100%;
}

#navBar {
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  box-sizing: border-box; /*includes extra stuff into the width*/
  margin: 0;
  background-color: #744253;
}

#Wrapper {
  margin: 0 auto;
  background-color: white;
  padding-bottom: 0px;
  height: 900px;
  max-width: 940px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
