body {
  height: 100vh;
  margin: 0;
  font-family: "Segoe UI", "Tahoma", arial, sans-serif;
  background-color: #F0EDED;
}

#rightTop img {
  max-width: 75%;
  margin-left: 50px;
  border-radius: 50%;
  border: dashed 3px #A95C68;
}


ul {
  list-style-type: square;
  text-align: left;
  font-size: 20px;
}

.headerLogo {
  max-width: 50%;
}

.headerLogo img {
  margin-left: 50px;
  height: 60px;
  width: 60px;
}

.containerButtons {
  display: flex;
  margin-left: 200px;
  max-width: 50%;
  text-align: right;
  justify-content: flex-end;
}

.navButton {
  background: none;
  border: solid 3px #744253; /*so it doesn't shift when i hover*/
  padding: 10px;
  font-size: 16px;
  width: 100px;
  box-sizing: border-box;
}

.navButton:hover {
  color: white;
}

.leftButton {
  margin-top: 10px;
  background-color: #B49286;
  border: solid 3px #B49286;
  border-radius: 8px;
  opacity: 0.6;
  color: white;
  font-size: 15px;
  padding: 15px;
}

.leftButton:hover {
  transition: 0.3s;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15), 0 10px 10px 0 rgba(0, 0, 0, 0.11), 0 15px 15px 0 rgba(0, 0, 0, 0.1);
  opacity: 1;
}

.centerItProperly {
  padding-left: 30px;
}

.footer {
  display: flex;
  background-color: #333;
  color: white;
  padding-bottom: 2px;
  justify-content: center;
  width: 100%;
}

#navBar {
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  box-sizing: border-box; /*includes extra stuff into the width*/
  margin: 0;
  background-color: #744253;
}

#Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  padding-bottom: 0px;
  height: 860px;
  max-width: 900px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#TopBodyContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /*made 2 columns of equal width*/
  gap: 10px;
  margin-top: 40px;
  margin-bottom: 60px;
}

#leftTop, #rightTop {
  height: 300px;
  width: 400px;
  text-align: center;
}

#leftTop {
  height: 270px;
  padding-top: 30px;
}

#leftTop h2 {
  color: #A95C68;
}

#ScrollableContents {
  display: grid;
  background: linear-gradient(to bottom, #D6B0A7, #CC9DAF);
  height: 470px;
  width: 940px;
  margin-top: 20px;
  color: white;
  grid-template-columns: repeat(2, 1fr); /*made 2 columns of equal width*/
  gap: 20px;
  /*#B49286*/
}

#leftContent, #rightContent {
  margin-left: 50px;
  padding-top: 60px;
  text-align: center;
  width: 400px;
}

#leftContent p {
  font-size: 15px;
}

#rightContent ul {
  margin-left: 20px;
  font-size: 17px;
}
